<table>
  <tr>
    <th>Ingredient</th>
    <th>Spice</th>
    <th>Measurement</th>
  </tr>
  <% @foods.each do |food_hash| %>
  <tr>
    <td><%= food_hash["ingredient"] %></td>
    <td><%= food_hash["spice"] %></td>
    <td><%= food_hash["measurement"] %></td>
  </tr>
  <% end %>
</table>