<table>
  <tr>
    <th>ID</th>
    <th>Ingredient</th>
    <th>Spice</th>
    <th>Measurement</th>
  </tr>
  <% @foods.each do |food| %>
  <tr>
    <td><%= food.id %></td>
    <td><%= food.ingredient %></td>
    <td><%= food.spice %></td>
    <td><%= food.measurement %></td>
  </tr>
  <% end %>
</table>